<ul class='selections'>
  {{#each selection in destination}}
    <li class="selection">
      <a class="as-close" {{action "removeSelection" selection}}>x</a>
      {{yield}}
      {{display-helper selection searchPath}}
    </li>
  {{/each}}
  <li>{{input type="text" value=query focus-out="removeFocus" class="autosuggest"}}</li>
</ul>
<div {{bind-attr class=':results hasQuery::hdn'}}>
  <ul class='suggestions'>
    {{#each result in displayResults}}
      <li {{action "addSelection" result}} {{bind-attr class=":result result.active"}}>
        <span class="result-name">
          {{yield}}
          {{display-helper result searchPath}}
        </span>
      </li>
    {{else}}
      <li class='no-results'>No Results.</li>
    {{/each}}
  </ul>
</div>
